.idea/
.gradle/
target/
build/
out/
.gradletasknamecache
nohup.out
.FirstSpirit/
.settings
build-cache/
nbproject
*.iml
.project
*.bak
.classpath
*.class
bin/
fs-cli.log*
.DS_Store
node_modules/
dist/
.vscode
